*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto";
    /* overflow: hidden; */
}
body{
    background-color: #FFD845;
}

.container{
    max-width: 1420px !important;
    margin: 0 auto;
    padding: 50px;
}

.pookemon_logo{
    margin:50px 308px 0px 308px;

}


.pookemon_searching{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
 

select{
    width: 170px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #000;
    background: #FFF;
    color: #000;
    font-family: Roboto;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;     
}

.pookemon_input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #000;
    background: #FFF;   
    input{
        border: none;
        outline: none;
        border-radius: 25px;
        width: 145px;
        height: 30px;
        padding-left: 5px;
       
    }
   
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #000;
    background: #FFF;  
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
}

.cards{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.card{
    width: 307px;
    height: 423px;
    background: #fff;
    border-radius: 20px;
    border: 2px solid #000;
    .card_img{
        height: 180px;
        display: flex;
        align-items: center;
        margin-left: 70px;
        margin-top: 30px;
        margin-bottom: -50px;   
    }
    .card_title{
        margin-top: 100px;
        border-top: 3px solid #222;
        padding:0px 30px 0px 30px;
        .card_title-item{
            margin-top: 25px;
           display: flex; 
           gap: 5px;
           justify-content: space-between;
           align-items: center;
           h4{
            color: #000;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
           }
           boxicon{
            width: 30px;
            height: 30px;
           }
           p{
            margin-top: 5px;
            color: #000;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
           }
        }
        .card_title-numer{
            margin-top: 25px;
            display: flex;
            h4{
                color: #000;
                font-family: Roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal; 
            }
        }
    }
}
